<div class="container__big-card">
    <div class="big-card__photo">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaQt8UQIn2rnI1pDWYEykspntOvI8VUbJE8Q&s"
      alt=""
      height="200px"
      >
    </div>

    <div class="big-card__title">
      <h1><a href="">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
      <a href="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor minus illum libero autem optio cumque inventore placeat sapiente sint recusandae culpa, numquam expedita magni hic maiores voluptatum dolores accusantium repellat?</p>
      </a>
    </div>

</div>
